*{
    margin: 0;
}

:root{
    --primary-color: #2EC4B6;
    --secondary-color: #7ad8d2;
    --tertiary-color: #FFBF69;
    --quaternary-color: #FF9F1C;
    --light-color: #FFFF;
    --grey-scale: rgb(68, 68, 68);
}

/* INDEX */

/* MENU */
.navbar{
    background-color: var(--primary-color);
}
.nav-link, .navbar-brand{
    color: var(--light-color);
}
.nav-link:hover{
    background-color: var(--secondary-color);
    border-radius: 10%;
    color: var(--grey-scale);
}
.navbar-brand:hover{
    color: var(--quaternary-color);
}
.icone{
    width: 2vw;
    margin-bottom: 0.8vh;
}
/* LOGO */
.logo{
    width: 4vw;
    margin-bottom: 0.4vh;
    margin-top: 0.4vh;
    margin-right: 1vw;
}
/* CARD */
.card{
    margin-top: 6.4vh;
}
.chamada{
    color: var(--light-color);
    text-decoration: none;

}
.chamada:hover{
    color: var(--grey-scale);
    text-decoration: none;
}
.info{
    background-color: var(--primary-color);
    border: var(--primary-color);
}
.info:hover{
    background-color: var(--secondary-color);
    border: var(--secondary-color);
}


/* GENERATE */

.row{
    width: 100%;
}
/* BOTÃO */
.btn-success{
    width: 15vw;
    height: 6vh;
    margin-top: 10vh;
    margin-bottom: 12vh;
}
/* URL ORIGINAL */
.campo, .label{
    margin-top: 7vh;
}
.campo {
    width: 25vw;
}
/* URL ENCURTADA */
.campo2, .label2{
    margin-top: 5vh;
}
.label2{
    margin-left: 4vh;
}
.campo2{
    margin-left: 3vh;
    width: 25vw;
}
.gerar{
    margin-top: 10vh; 
}

/* LOGIN */

.capa{
    width: 95%;
    margin-top: 3.6vh;
}
.form{
    margin-top: 20vh;
}
#inputEmail4, #inputPassword4{
    width: 35vw;
    margin-left: 6vw;
}
.form-label{
    margin-left: 6vw;
}
#btn{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: large;
    width: 10vw;
    background-color: var(--primary-color);
    border: var(--primary-color);
}
#btn:hover{
    background-color: var(--secondary-color);
    border: var(--secondary-color);
}
.acessar{
    text-decoration: none;
    color: var(--light-color);
}
.acessar:hover{
    text-decoration: none;
    color: var(--grey-scale);
}
.esqueci{
    color: var(--primary-color);
}

/* RECOVER */

.recuperar{
    margin-top: 30vh;
}

/* CADASTRO */

#registre{
    width: 10vw;
    height: 4.4vh;
    margin-top: 6vh;
    font-size: large;
}

/* LISTA */

.lista{
   margin-top: 9vh; 
   margin-bottom: 2vh; 
}
.excluir{
    margin-top: 5vh;
    margin-bottom: 6vh;
    width: 7vw;
}
.criado{
    margin-top: 7vh;
    margin-bottom: 6vh;
}
.lixeira{
    height: 1vw;
    margin-left: 0.8vw;
    margin-bottom: 0.5vh;
}

/* FOOTER */

footer{
    background-color: var(--primary-color);
    height: 15vh;
    margin-top: 10vh;
}
.copyright{
    margin-top: 8vh;
    font-size: small;
    text-align: right;
    color: var(--light-color);
}
.logotipo{
    margin-top: 3vh;
    width: 5vw;
}

